@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

section {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    text-align: center; 
}
header {
    font-size: 80px;
    font-family: 'Beth Ellen', cursive;
    text-align: center; 
}

button {
    font-size: 14px; 
    border-radius: 15px; 
    border-style: solid;
    margin-left: 10px;
    margin-top: 95px; 
    width: 45px; 
    height: 40px;
    background-color: rgb(214, 214, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
}

h2 {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-align: center; 
    color: whitesmoke; 
    margin-bottom: 70px;
}

body {
    background-color: rgb(184, 116, 61);
    /* background-image: image(hangman.png);  */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;   */
    /* background-color: rgb(184, 116, 61); */
}

/* section {
    background-image: url('/images/hangman.png');
    width: 75px;
    height: 100px;
} */

div {
    display: flex;
    justify-content: center; 
    align-content: center; 
}

#newGame {
    margin-left: 200px; 
}
